body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  font-family: "Roboto";
}

#img1 {
  position: absolute;
  width: 100%;
  margin-top: -16%;
}

#img2 {
  width: 30%;
  display: block;
  left: 0;
  right: 0;
  padding-top: 24%;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.container {
  padding-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

.imagesRow {
  display: inline-block;
  position: relative;
  width: 252px;
  height: 419px;
  margin: 30px;
}

#responsiveImages {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.topBorder,
.border,
.imgOnBorder,
.textOnBorder {
  position: absolute;
}
.textOnBorder {
  top: 355px;
  color: white;
  font-size: 18px;
  left: 50%;
  transform: translate(-50%, 0);
}
.topBorder {
  top: -10px;
}
.border {
  top: 40px;
}
.imgOnBorder,
.topBorder {
  left: 18px;
}
.loading{
  position: fixed;
  inset:0;
  background-color: rgba(200, 130, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.imgOnBorder {
  object-fit:cover;
  width: 216px;
  height: 324px;
}
*/

#pageNmbr {
  display: flex;
  font-size: 20px;
  color: #7e7e7e;
  justify-content: end;
  align-items: center;
  padding-bottom: 200px;
  font-weight: bold;
}

#pageNmbr > * {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.centerNmbr {
  border: solid 0px;
  border-radius: 30px;
  border-color: #7e7e7e;
  color: black !important;
  background-color: #7e7e7e;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (max-width: 660px) {
  #responsiveImages {
    columns: 1;
  }
  #pageNmbr > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  #pageNmbr{
    justify-content: center;
  }
}

@media screen and (min-width: 660px) {
  #responsiveImages {
    columns: 2;
  }
  #pageNmbr > * {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1000px) {
  #responsiveImages {
    columns: 3;
  }
  #pageNmbr > * {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1300px) {
  #responsiveImages {
    columns: 4;
  }
  #pageNmbr > * {
    margin-left: 20px;
    margin-right: 20px;
  }
}